.animateRightAnswer {
  animation: bounce 450ms;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}
.imgAnimation {
  animation: imgAnimation 1000ms;
}
.btnAnimation {
  animation: imgAnimation 500ms;
}

@keyframes imgAnimation {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.sprite {
  width: 2rem;
  margin-left: 0.5rem;
}
